<!doctype html>
<title>minifeed</title>

<form method="post" action="/feed">
  <input type="checkbox" id="feed_src1" name="feedname" value="https://justthenews.com/rss.xml">
  <label for="feed_src1">Just the News</label><br>

  <input type="checkbox" id="feed_src2" name="feedname" value="https://nypost.com/feed/">
  <label for="feed_src2">New York Post</label><br>

  <input type="checkbox" id="feed_src2" name="feedname" value="https://rss.nytimes.com/services/xml/rss/nyt/HomePage.xml">
  <label for="feed_src3">The New York Times</label><br>

  <input type="submit">
</form>
